%h2 Congrats! You finished!

.well
  - @workout.exercises.each_with_index do |exercise, i|
    - unless i==0
      %hr/
    %h3= exercise.name
    - @workout.measurements.each do |measurement|
      - if measurement.exercise == exercise
        %h4= pluralize measurement.value, measurement.unit
