%h2 Congrats! You finished!

- @workout.exercises.each do |exercise|
  %h3= exercise.name
  - @workout.measurements.each do |measurement|
    - if measurement.exercise == exercise
      %h4= pluralize measurement.value, measurement.unit
