%h2#today-title Thank you!

%p#apology-text We've been completely overwhelmed by the interest in Hashiru, in the two days after we demoed Hashiru more than 200 people have registered and logged more than 1500 workouts! Needless to say, it has exceeded our funding to support for a demo application. However this idea won't die here. And we'll be sure to keep you all informed as we continue to grapple with the problems Hashiru was built to address.

%p#apology-text{:style => "margin-top:40px;"} If you have any questions or comments, feel free to contact the developers.

