form {
  padding: 15px;
  margin: 0 auto;
  h2, .checkbox {
    margin-bottom: 10px;
  }
  .input-group.col-xs-6.left-side {
    padding-right: 2px;
  }
  .input-group.col-xs-6.right-side {
    padding-left: 2px;
  }
}
